<div class="container-fluid">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-clone" aria-hidden="true"></i> Images</div>
      <table class="table">
        <tr>
          <td>Name</td>
          <td>ID</td>
          <td>Scope</td>
          <td>Driver</td>
          <td>IPAM Driver</td>
          <td>IPAM Subnet</td>
          <td>IPAM Gateway</td>
        </tr>
      </table>
    </div>
    <h3>Images</h3>
    <%= @images %>
  </div>
</div>
