<div class="container-fluid">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-clone" aria-hidden="true"></i> Images</div>
      <table class="table">
        <tr>
          <td>ID</td>
          <td>Tags</td>
          <td>Size</td>
        </tr>
        <% @images.each do |image| %>
          <tr>
            <td><%= image.info["id"] %></td>
            <td><%= image.info["RepoTags"].join(", ") %></td>
            <td><%= Filesize.from(image.info["Size"].to_s + " B").pretty %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <h3>Images - DEBUG</h3>
    <%= debug @images %>
  </div>
</div>
